@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-UltraBoldItalic.woff2') format('woff2'),
        url('/font/ArminGrotesk-UltraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-UltraLight.woff2') format('woff2'),
        url('/font/ArminGrotesk-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-UltraLightItalic.woff2') format('woff2'),
        url('/font/ArminGrotesk-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk Normal';
    src: url('/font/ArminGrotesk-NormalItalic.woff2') format('woff2'),
        url('/font/ArminGrotesk-NormalItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-Regular.woff2') format('woff2'),
        url('/font/ArminGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-SemiBold.woff2') format('woff2'),
        url('/font/ArminGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('/font/ArminGrotesk-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-Thin.woff2') format('woff2'),
        url('/font/ArminGrotesk-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-ThinItalic.woff2') format('woff2'),
        url('/font/ArminGrotesk-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-UltraBold.woff2') format('woff2'),
        url('/font/ArminGrotesk-UltraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-Black.woff2') format('woff2'),
        url('/font/ArminGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-BlackItalic.woff2') format('woff2'),
        url('/font/ArminGrotesk-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/font/ArminGrotesk-Italic.woff2') format('woff2'),
        url('/font/ArminGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk Normal';
    src: url('/font/ArminGrotesk-Normal.woff2') format('woff2'),
        url('/font/ArminGrotesk-Normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

