@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-UltraBold.eot');
    src: local('Armin Grotesk UltraBold'), local('ArminGrotesk-UltraBold'),
        url('/fonts/ArminGrotesk-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-UltraBold.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-UltraBold.woff') format('woff'),
        url('/fonts/ArminGrotesk-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-SemiBold.eot');
    src: local('Armin Grotesk SemiBold'), local('ArminGrotesk-SemiBold'),
        url('/fonts/ArminGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-SemiBold.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-SemiBold.woff') format('woff'),
        url('/fonts/ArminGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-SemiBoldItalic.eot');
    src: local('Armin Grotesk SemiBold Italic'), local('ArminGrotesk-SemiBoldItalic'),
        url('/fonts/ArminGrotesk-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-SemiBoldItalic.woff') format('woff'),
        url('/fonts/ArminGrotesk-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-Regular.eot');
    src: local('Armin Grotesk Regular'), local('ArminGrotesk-Regular'),
        url('/fonts/ArminGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-Regular.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-Regular.woff') format('woff'),
        url('/fonts/ArminGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-Black.eot');
    src: local('Armin Grotesk Black'), local('ArminGrotesk-Black'),
        url('/fonts/ArminGrotesk-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-Black.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-Black.woff') format('woff'),
        url('/fonts/ArminGrotesk-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-UltraLightItalic.eot');
    src: local('Armin Grotesk UltraLight Italic'), local('ArminGrotesk-UltraLightItalic'),
        url('/fonts/ArminGrotesk-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-UltraLightItalic.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-UltraLightItalic.woff') format('woff'),
        url('/fonts/ArminGrotesk-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Grotesk Normal';
    src: url('/fonts/ArminGrotesk-NormalItalic.eot');
    src: local('Armin Grotesk Normal Italic'), local('ArminGrotesk-NormalItalic'),
        url('/fonts/ArminGrotesk-NormalItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-NormalItalic.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-NormalItalic.woff') format('woff'),
        url('/fonts/ArminGrotesk-NormalItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-Italic.eot');
    src: local('Armin Grotesk Italic'), local('ArminGrotesk-Italic'),
        url('/fonts/ArminGrotesk-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-Italic.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-Italic.woff') format('woff'),
        url('/fonts/ArminGrotesk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-Thin.eot');
    src: local('Armin Grotesk Thin'), local('ArminGrotesk-Thin'),
        url('/fonts/ArminGrotesk-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-Thin.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-Thin.woff') format('woff'),
        url('/fonts/ArminGrotesk-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-ThinItalic.eot');
    src: local('Armin Grotesk Thin Italic'), local('ArminGrotesk-ThinItalic'),
        url('/fonts/ArminGrotesk-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-ThinItalic.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-ThinItalic.woff') format('woff'),
        url('/fonts/ArminGrotesk-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Grotesk Normal';
    src: url('/fonts/ArminGrotesk-Normal.eot');
    src: local('Armin Grotesk Normal'), local('ArminGrotesk-Normal'),
        url('/fonts/ArminGrotesk-Normal.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-Normal.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-Normal.woff') format('woff'),
        url('/fonts/ArminGrotesk-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-UltraBoldItalic.eot');
    src: local('Armin Grotesk UltraBold Italic'), local('ArminGrotesk-UltraBoldItalic'),
        url('/fonts/ArminGrotesk-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-UltraBoldItalic.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-UltraBoldItalic.woff') format('woff'),
        url('/fonts/ArminGrotesk-UltraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-UltraLight.eot');
    src: local('Armin Grotesk UltraLight'), local('ArminGrotesk-UltraLight'),
        url('/fonts/ArminGrotesk-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-UltraLight.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-UltraLight.woff') format('woff'),
        url('/fonts/ArminGrotesk-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('/fonts/ArminGrotesk-BlackItalic.eot');
    src: local('Armin Grotesk Black Italic'), local('ArminGrotesk-BlackItalic'),
        url('/fonts/ArminGrotesk-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArminGrotesk-BlackItalic.woff2') format('woff2'),
        url('/fonts/ArminGrotesk-BlackItalic.woff') format('woff'),
        url('/fonts/ArminGrotesk-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

