@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-LightItalic.woff2') format('woff2'),
        url('/fonts/Boing-LightItalic.woff') format('woff'),
        url('/fonts/Boing-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-ThinItalic.woff2') format('woff2'),
        url('/fonts/Boing-ThinItalic.woff') format('woff'),
        url('/fonts/Boing-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-MediumItalic.woff2') format('woff2'),
        url('/fonts/Boing-MediumItalic.woff') format('woff'),
        url('/fonts/Boing-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Thin.woff2') format('woff2'),
        url('/fonts/Boing-Thin.woff') format('woff'),
        url('/fonts/Boing-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/Boing-SemiboldItalic.woff') format('woff'),
        url('/fonts/Boing-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Semibold.woff2') format('woff2'),
        url('/fonts/Boing-Semibold.woff') format('woff'),
        url('/fonts/Boing-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Regular.woff2') format('woff2'),
        url('/fonts/Boing-Regular.woff') format('woff'),
        url('/fonts/Boing-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Medium.woff2') format('woff2'),
        url('/fonts/Boing-Medium.woff') format('woff'),
        url('/fonts/Boing-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Light.woff2') format('woff2'),
        url('/fonts/Boing-Light.woff') format('woff'),
        url('/fonts/Boing-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Bold.woff2') format('woff2'),
        url('/fonts/Boing-Bold.woff') format('woff'),
        url('/fonts/Boing-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-Italic.woff2') format('woff2'),
        url('/fonts/Boing-Italic.woff') format('woff'),
        url('/fonts/Boing-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('/fonts/Boing-BoldItalic.woff2') format('woff2'),
        url('/fonts/Boing-BoldItalic.woff') format('woff'),
        url('/fonts/Boing-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

