@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGroteskBold.woff2') format('woff2'),
        url('/font/TransnetGroteskBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGroteskBoldItalic.woff2') format('woff2'),
        url('/font/TransnetGroteskBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGrotesk-Heavy.woff2') format('woff2'),
        url('/font/TransnetGrotesk-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGrotesk-HeavyItalic.woff2') format('woff2'),
        url('/font/TransnetGrotesk-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGrotesk-Italic.woff2') format('woff2'),
        url('/font/TransnetGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGrotesk-Medium.woff2') format('woff2'),
        url('/font/TransnetGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGrotesk-Semibold.woff2') format('woff2'),
        url('/font/TransnetGrotesk-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGrotesk-SemiboldItalic.woff2') format('woff2'),
        url('/font/TransnetGrotesk-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGrotesk-Thin.woff2') format('woff2'),
        url('/font/TransnetGrotesk-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Transnet Grotesk';
    src: url('/font/TransnetGrotesk-ThinItalic.woff2') format('woff2'),
        url('/font/TransnetGrotesk-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

