@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-UltraBoldItalic.eot');
    src: url('ArminGrotesk-UltraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-UltraBoldItalic.woff2') format('woff2'),
        url('ArminGrotesk-UltraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk Normal';
    src: url('ArminGrotesk-NormalItalic.eot');
    src: url('ArminGrotesk-NormalItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-NormalItalic.woff2') format('woff2'),
        url('ArminGrotesk-NormalItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-UltraLightItalic.eot');
    src: url('ArminGrotesk-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-UltraLightItalic.woff2') format('woff2'),
        url('ArminGrotesk-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-UltraLight.eot');
    src: url('ArminGrotesk-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-UltraLight.woff2') format('woff2'),
        url('ArminGrotesk-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-SemiBold.eot');
    src: url('ArminGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-SemiBold.woff2') format('woff2'),
        url('ArminGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-ThinItalic.eot');
    src: url('ArminGrotesk-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-ThinItalic.woff2') format('woff2'),
        url('ArminGrotesk-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-Regular.eot');
    src: url('ArminGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-Regular.woff2') format('woff2'),
        url('ArminGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-SemiBoldItalic.eot');
    src: url('ArminGrotesk-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-SemiBoldItalic.woff2') format('woff2'),
        url('ArminGrotesk-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-Thin.eot');
    src: url('ArminGrotesk-Thin.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-Thin.woff2') format('woff2'),
        url('ArminGrotesk-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-UltraBold.eot');
    src: url('ArminGrotesk-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-UltraBold.woff2') format('woff2'),
        url('ArminGrotesk-UltraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-BlackItalic.eot');
    src: url('ArminGrotesk-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-BlackItalic.woff2') format('woff2'),
        url('ArminGrotesk-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-Italic.eot');
    src: url('ArminGrotesk-Italic.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-Italic.woff2') format('woff2'),
        url('ArminGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk';
    src: url('ArminGrotesk-Black.eot');
    src: url('ArminGrotesk-Black.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-Black.woff2') format('woff2'),
        url('ArminGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armin Grotesk Normal';
    src: url('ArminGrotesk-Normal.eot');
    src: url('ArminGrotesk-Normal.eot?#iefix') format('embedded-opentype'),
        url('ArminGrotesk-Normal.woff2') format('woff2'),
        url('ArminGrotesk-Normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

